In [8]:
import pandas as pd
df=pd.DataFrame({'TransactionDate':pd.to_datetime(['2025-02-05 14:30:00','2025-02-06 18:45:00'])})
df

      TransactionDate
0 2025-02-05 14:30:00
1 2025-02-06 18:45:00

In [9]:
df['DateOfWeek'] = df['TransactionDate'].dt.dayofweek
df['Hour'] = df['TransactionDate'].dt.hour
df['Isweekend'] = df['DateOfWeek'].apply(lambda x:1 if x>=5 else 0)

In [10]:
df_transactions = pd.DataFrame({
    'UserID':[101,102,101,103,102],
    'TransactionAmount':[500,300,700,1000,400]
})

In [11]:
df_transactions.groupby('UserID').agg('mean').reset_index()

   UserID  TransactionAmount
0     101              600.0
1     102              350.0
2     103             1000.0

In [12]:
from sklearn.preprocessing import OneHotEncoder
df = pd.DataFrame({'ProductCategory':['Electronics','Clothing','Clothing','Grocery']})
df

  ProductCategory
0     Electronics
1        Clothing
2        Clothing
3         Grocery

In [15]:
encoder = OneHotEncoder()
encoded_features = encoder.fit_transform(df[['ProductCategory']])
encoded_features.toarray()

array([[0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.]])

In [16]:
df_encoded = pd.DataFrame(encoded_features,columns=encoder.get_feature_names_out())
df_encoded

ValueError: Shape of passed values is (4, 1), indices imply (4, 3)